<header>
  <div class="menu-btn" [class.close]="showMenu" (click)="showMenu= !showMenu">
    <div class="btn-line"></div>
    <div class="btn-line"></div>
    <div class="btn-line"></div>
  </div>

  <nav class="menu" [class.show]="showMenu">
    <div class="menu-branding" [class.show]="showMenu">
      <div class="portrait"></div>
    </div>
    <ul class="menu-nav" [class.show]="showMenu">
      <li class="nav-item" [class.show]="showMenu">
        <a href="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item  current" [class.show]="showMenu">
        <a routerLink="/about" class="nav-link">About Me</a>
      </li>
      <li class="nav-item" [class.show]="showMenu">
        <a routerLink="/work" class="nav-link">My Work</a>
      </li>
      <li class="nav-item" [class.show]="showMenu">
        <a routerLink="/contact" class="nav-link">How To Reach Me</a>
      </li>
    </ul>
  </nav>
</header>
<main id="about">
<h1 class="lg-heading">About <span class="text-secondary">Me </span></h1>
<h2 class="sm-heading">Let me tell you a few things...</h2>
<div class="about-info">
  <img src="../../assets/img/portrait.jpg" alt="Deepak Kumar" class="bio-image">
  <div class="bio">
    <h3 class="text-secondary">BIO</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem libero dolor repellendus odit, unde autem quia quasi delectus culpa voluptatem inventore cupiditate harum animi eveniet dolorem, aliquam aliquid nulla assumenda.</p>
  </div>
  <div class="job job-1">
    <h3>123 Webshop</h3>
    <h6>Full stack developer</h6>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta et ex nostrum ratione ad beatae nobis eveniet unde adipisci magnam.</p>
  </div>
  <div class="job job-2">
    <h3>Designer ABC</h3>
    <h6>Front end developer</h6>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta et ex nostrum ratione ad beatae nobis eveniet unde adipisci magnam.</p>
  </div>
  <div class="job job-3">
    <h3>Webworks</h3>
    <h6>Backend developer</h6>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta et ex nostrum ratione ad beatae nobis eveniet unde adipisci magnam.</p>
  </div>

</div>


</main>

<footer id="main-footer">
  Copyright &copy; 2018
</footer>

